
.hearder-text{
	text-align: center;
	padding-top:100px;
}

.card-size{
	position: relative;
	padding-left: 130px;
	padding-right: 100px;
	margin-top: 100px;
	
}
.l-spacing{
	letter-spacing: 1.4;
}
.heading{
	margin-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #37474f  ;
	letter-spacing: 1.4px;
}
.espaco{
	height: 210px;
}

.contact_shape {
	width: 10rem;
	left: 47%;
	transform: translate(-50%,-50%);
	height: 10rem;
	shape-outside: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	position: absolute;
}

.contact_img {
	left: 0;
	width: 100%;
	transform: scale(1.4);
	transition: all 0.5s;
	backface-visibility: hidden !important;
}
.contact_text {
	transform: skewX(12deg);
}




.section-contact{
	background-color: rgb(229, 226, 226);
}


@media (min-width: 320px) and (max-width: 480px) {
	
.card-size{
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 100px;
	
}
.l-spacing{
	letter-spacing: 1.4;
}
.heading{
	margin-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #37474f  ;
	letter-spacing: 1.4px;
}
.espaco{
	height: 50px;
}

.contact_shape {
	width: 10rem;
	left: 37%;
	transform: translate(-50%,-50%);
	height: 10rem;
	shape-outside: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	position: absolute;
}

.contact_img {
	left: 0;
	width: 100%;
	transform: scale(1.4);
	transition: all 0.5s;
	backface-visibility: hidden !important;
}
}


@media (min-width: 1023px) and (max-width: 1024px) {
	.espaco{
		height: 290px;
	}
	
}

@media (max-width: 320px){
	.contact_shape {
		width: 10rem;
		left: 35%;
		transform: translate(-50%,-50%);
		height: 10rem;
		shape-outside: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		position: absolute;
	}
	
	.contact_img {
		left: 0;
		width: 100%;
		transform: scale(1.4);
		transition: all 0.5s;
		backface-visibility: hidden !important;
	}
	
}