.logo{
    &-direction{
        top: -35px;
        left: 0;
    }

    &-img{
        width: 240px;
        height: 100px;
    }
    
}
.fix-margin{
    margin-top: 30px;
}
.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0 !important;
    height: 120vh;
    z-index: 997;
}

.carousel{
    margin-top: 5px !important;
}

@media only screen and (max-width: 768px){
    .logo{
    width: 120px !important;
    height: 55px !important;
    /* border-radius: 50%; */

    }
}