.img-gallery {
	display: flex;
	flex-wrap: wrap;
	& img {
		width: 200px;
		height: 200px;
		flex: 1;
		filter: brightness(0.5);
		&:hover {
			filter: none;
			cursor: pointer;
		}
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.img-gallery {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		& img {
			width: 100%;
			overflow: hidden;
			height: 160px;
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.img-gallery {
		grid-template-columns: repeat(2, 1fr);

		& img {
			width: 326px;
			overflow: hidden;
			height: 200px;
		}
	}
}




@media  (min-width: 1023px) and (max-width: 1024px) {
  
    .img-gallery {
		& img {
			width: 430px;
			overflow: hidden;
			height: 250px;
		}
	}
	
  }